html {
    background-color:rgba(0,0,0,0.9);
    color:white;
}

body {
    padding:1% ;
    
}
nav li {
    display:inline-block;
    padding: 0 12%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size:200%;    
}
nav li:hover {
    background-color: gray;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    margin:0 70% 0 0;
}
h1#left {
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    margin: auto;

}
video {
    display: block;
    margin: auto;
}
a {
    text-decoration: none;
    color:white;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150%;
}
